<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, facere odit veniam dolor eaque modi iste voluptate numquam at delectus iure commodi nisi sit nobis? Possimus, officia ex! Amet modi est voluptatem dolore non velit voluptatum nemo rerum in, sint at hic fugit voluptates minima corporis adipisci! Nulla, tenetur! Omnis.</p>
    </div>
</div>