<div class="jumbotron mt-4">
    <h1 class="diplay-4">Notes App Mongo DB and NodeJs</h1>
    <p class="lead">Texto de ejemplo</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cum? Commodi debitis, 
        ipsam consectetur vel animi non sequi nostrum, quas officia dolorum earum, impedit perspiciatis. 
        Tempore quibusdam incidunt cupiditate magni?</p>
    <a href="https://stackoverflow.com/" class="btn btn-primary btn-lg">StackOverFlow</a>
</div> 